/*************************************** Parte general ******************************/

/* Casi negre #737373
   Gris mes fosc #A7A6A6
   Gris fosc #ADADAD
   Gris Clar #EBEDF2
   Gris mes clar #e5e5e5
   Gris clarisim #f8f8f8
   blau titols #0871A2  */

p {font: normal 14px arial;color:#737373}
ul {font: normal 14px arial;color:#737373}
li {font: normal 14px arial;color:#737373}
body {background-color:#E9EAE6;margin: 0cm 0cm 0cm 0cm} /*arriba derecha abajo izquierda*/
table{border-collapse: collapse;margin: 0cm 0cm 0cm 0cm;}
td {border-collapse: collapse;padding: 0cm 0cm 0cm 0cm;vertical-align:top;}

table.pagina {width:930px;border-collapse: collapse;margin: 0cm 0cm 0cm 0cm}
div.pagina {margin:0 auto 0 auto; width:930px;}
table.tablas {width:100%; background-color:white;border-collapse: collapse;margin: 0cm 0cm 0cm 0cm}
td.bleft {padding: 0cm 0cm 0cm 0cm; width:135px;height: 530px ;vertical-align:top;border-right:1px solid #e5e5e5}
td.bright {padding: 0cm 0cm 0cm 0cm; width:135px;vertical-align:top;border-left:1px solid #e5e5e5}
td.pcentral {padding: 0cm 0.2cm 0cm 0cm; vertical-align:top}
hr {color:#e5e5e5;height:1px}
img {border:none}

a:link {color: #75864C}
a:visited {color: #75864C}
a:hover {color: #0871A2}
a:active {color: #75864C}

span.tithome {margin: 0.2cm 0.2cm 0cm 0.2cm ;font: normal 20px arial;color:#75864C;}
div.about {margin: 0.2cm 0.2cm 0.2cm 0.4cm ;font: normal 14px arial;color:black}
div.margins {margin: 0.2cm 0.2cm 0.2cm 0.2cm ;font: normal 14px arial;color:#75864C}

div.logout {text-align:right;background-color:white;font: bold 12px arial}

a.logout:link {font: bold 12px arial;color: white;text-decoration: none;background-color:#75864C;padding: 0.1cm 0.1cm 0.1cm 0.1cm;}
a.logout:visited {font: bold 12px arial;color: white;text-decoration: none;background-color:#75864C;padding: 0.1cm 0.1cm 0.1cm 0.1cm;}
a.logout:hover {font: bold 12px arial;color: white;text-decoration: none;background-color:#75864C;padding: 0.1cm 0.1cm 0.1cm 0.1cm;}
a.logout:active {font: bold 12px arial;color: white;text-decoration: none;background-color:#75864C;padding: 0.1cm 0.1cm 0.1cm 0.1cm;}

img.boton {vertical-align:middle}
a.boton:link {font: bold 12px arial;color: #75864C;text-decoration: none}
a.boton:visited {font: bold 12px arial;color: #75864C;text-decoration: none}
a.boton:hover {font: bold 12px arial;color: #0871A2;text-decoration: none}
a.boton:active {font: bold 12px arial;color: #75864C;text-decoration: none}

div.gmap {margin: 0cm 0cm 0cm 0.2cm;width: 630px; height: 300px}

/*************************************************************************************/
/* caja Pie de pagina */

a.piecentral:link {color: #75864C}
a.piecentral:visited {color: #75864C}
a.piecentral:hover {color: #0871A2}
a.piecentral:active {color: #75864C}
table.piecentral {background-color:#FFFFFF;width:100% ; border:none; border-top: 1px solid #e5e5e5}


/*************************************************************************************/
/* Caja Menu pagina */

a.mnu:link {color:#75864C;text-decoration: underline}
a.mnu:visited {color:#75864C;text-decoration: underline}          /*arriba derecha abajo izquierda*/
a.mnu:hover {color:#0871A2;text-decoration: underline}
a.mnu:active {color:#75864C;text-decoration: underline}

td.mnu_item {padding: 0.1cm 0cm 0cm 0cm;text-align:left;font: normal 12px arial;color: black;}
tr.mnu_item {vertical-align:top}
td.mnu_itimg {padding: 0.15cm 0cm 0cm 0cm;text-align:right;font: normal 12px arial;color: black;}

img.mnu {border:none}

/*************************************************************************************/
/* Tabla barra */

table.barra {width:100%;margin: 0cm 0cm 0cm 0cm ;border-collapse: collapse;border:none; background-color:white; border-bottom: 4px solid #C6E091}
td.barra {font:bold 12px arial;color:#000000;text-align:right;padding: 0.05cm 0.4cm 0.05cm 0cm}
img.barra {border:none; vertical-align:text-top}

/*************************************************************************************/
/* Box */

table.box {margin: 0.2cm 0.2cm 0.2cm 0.2cm;width:97%; border:1px solid #C6E091; border-collapse: collapse}

tr.hbox {font: bold 12px arial;color:black;text-align:left;background-color:#C6E091;}
td.hbox { border:1px solid #C6E091;padding: 0cm 0cm 0cm 0.2cm;}
tr.box {font: bold 10px arial;color:black;text-align:left;background-color:white;}
td.box {text-align:center;padding: 0.2cm 0.2cm 0.2cm 0.2cm;vertical-align:top;width:15%}

a.box:link {color:#75864C;text-decoration: none}
a.box:visited {color:#75864C;text-decoration: none}          /*arriba derecha abajo izquierda*/
a.box:hover {color:#0871A2;text-decoration: none}
a.box:active {color:#75864C;text-decoration: none}

/*************************************************************************************/
/* Tabla recomendados */

tr.recom { font:normal 12px arial;color:#000000;text-align:center; vertical-align:top;}
td.recom {border-bottom: 1px solid #C6E091;font:normal 12px arial;color:#000000; vertical-align:top;padding: 0.2cm 0cm 0cm 0cm}
img.recom {margin: 0cm 0cm 0cm 0cm ;float:top}

/*************************************************************************************/
/* Caja cabecera  */

table.head {width:100%; background-color:white; border-collapse: collapse;border-bottom: 1px solid #C6E091}
tr.head {}
td.head {padding: 0cm 0cm 0cm 0cm;text-align:left}
img.head {border:none;vertical-align:top}

/*************************************************************************************/
/* Caja pgtitle  */

table.pgtitle {background-color:#C6E091;width:97%;border-collapse: collapse;border:none; margin: 0.2cm 0.2cm 0.2cm 0.2cm;border: 1px solid #e5e5e5}
td.pgtitle_label {padding: 0.1cm 0.2cm 0.1cm 0.2cm;font: bold 14px arial ;color:white;}
td.pgtitle_options {padding: 0.1cm 0.2cm 0.1cm 0.2cm;}
table.pgoptions {float:right;border-collapse: collapse;border:none; margin: 0cm 0cm 0cm 0cm;}
td.pgoptions {padding: 0cm 0cm 0cm 0cm;text-align:left}

/*************************************************************************************/
/* Noticias*/

td.noti_port {border-bottom: 1px solid #C6E091;padding: 0.2cm 0.2cm 0.2cm 0.2cm;text-align:left;font: normal 11px arial;color: black;}
tr.noti_port {}
span.noti_fecha {font: bold 11px arial;color: black}

table.noticia {border-collapse: collapse;border: 1px solid #e5e5e5; margin: 0.2cm 0.2cm 0.2cm 0.2cm}
td.hnoticia {border-bottom: 1px solid #e5e5e5;padding: 0cm 0cm 0cm 0.2cm}
tr.hnoticia {text-align:center;font: bold 12px arial;color:#75864C;}
td.noticia {vertical-align:top;padding: 0.2cm 0.2cm 0.2cm 0.2cm}

table.noticia_img {border-collapse: collapse; margin: 0cm 0.2cm 0cm 0cm; float:left}
td.noticia_img {text-align:center;padding: 0cm 0.02cm 0cm 0cm}
img.noticia_img {margin: 0cm 0cm 0.2cm 0cm}

table.not_img_port {border-collapse: collapse; margin: 0cm 0cm 0cm 0cm; float:left}
td.not_img_port {text-align:center;padding: 0cm 0.0cm 0cm 0cm}
img.not_img_port {margin: 0cm 0cm 0cm 0cm}

div.titnoti {margin: 0.2cm 0cm 0cm 0cm;font: bold 20px arial;color: #75864C}
div.noti_fecha {font: bold 11px arial;color: #787878}
div.resum_noti {margin: 0.2cm 0cm 0cm 0cm;font: bold 14px arial;color: #787878}
div.txt_noti {margin: 0.2cm 0cm 0cm 0cm;font: normal 14px arial;color: black}

/*************************************************************************************/
/* Lista advert*/

table.lista_advert {width: 97%;border-collapse: collapse;margin: 0.2cm 0.2cm 0.2cm 0.2cm}
td.lista_advert{padding: 0.2cm 0.2cm 0.2cm 0.2cm;border-bottom: solid 10px white;}
tr.linea_advert0 {background-color:#E4F0CA;font: normal 14px arial;color:#737373;}

td.list_advert_found {padding: 0cm 0cm 0.2cm 0cm;font: bold 12px arial;color:#737373}

td.list_advert_pages {text-align:left;padding: 0cm 0cm 0.2cm 0cm;font: normal 12px arial;color:#737373}
td.list_advert_links {text-align:right;padding: 0cm 0cm 0.2cm 0cm;font: normal 12px arial;color:#737373}

span.list_advert_page {margin: 0cm 0.1cm 0cm 0.1cm;font: bold 12px arial;color:#737373}

a.list_page:link {color: #75864C;text-decoration: none;font: bold 14px arial;}
a.list_page:visited {color: #75864C;text-decoration: none;font: bold 14px arial;}
a.list_page:hover {color: #0871A2;text-decoration: none;font: bold 14px arial;}
a.list_page:active {color: #75864C;text-decoration: none;font: bold 14px arial;}

td.linea{text-align:left;padding: 0.2cm 0.2cm 0.2cm 0.2cm;vertical-align:middle; border:dotted 1px #B2B1B1;}

a.linea:link {color: #75864C;text-decoration: none;font: bold 14px arial;}
a.linea:visited {color: #75864C;text-decoration: none;font: bold 14px arial;}
a.linea:hover {color: #75864C;text-decoration: underline;font: bold 14px arial;}
a.linea:active {color: #75864C;text-decoration: none;font: bold 14px arial;}

td.col {font:bold 12px arial;color:#75864C;text-align:center}

/************************************************************************************/
/* Advert */

table.advert{border-collapse: collapse;margin: 0cm 0cm 0cm 0cm;width:100%;}
td.advert_txt {border-collapse: collapse;padding: 0cm 0cm 0cm 0cm;vertical-align:top;width:100%;}
td.advert_img {border-collapse: collapse;padding: 0cm 0cm 0cm 0cm;vertical-align:top;}

img.img_advert_immo {float: left;margin: 0cm 0.2cm 0cm 0cm}
div.tit_adpob {font: bold 12px arial ;color:black;padding: 0cm 0cm 0.2cm 0cm;}
div.tit_adtp {font: bold 12px arial ;color:black;padding: 0cm 0cm 0.2cm 0cm;}
div.adtxt {font: normal 12px arial ;color:black;padding: 0cm 0cm 0.2cm 0cm;}
div.adprecio {text-align:right;font: bold 12px arial ;color:#787878;padding: 0cm 0cm 0cm 0cm;}


/************************************************************************************/
/* caja clase forms*/

table.form_title {border-collapse: collapse;margin: 0.2cm 0.2cm 0cm 0.2cm}
table.forms_border {text-align:center;width:97%;background-color:#E4F0CA;border-collapse: collapse;border: 1px solid #C6E091; margin: 0cm 0.2cm 0.2cm 0.2cm}
table.forms {border-collapse: collapse; margin: 0cm 0cm 0cm 0cm}
input.field_textbox{font: normal 12px arial;color:#737373;border: solid 1px #e5e5e5;padding: 0cm 0cm 0cm 0.1cm;}
input.field_checkbox{font: normal 12px arial;color:#737373;border: solid 1px #e5e5e5;padding: 0cm 0cm 0cm 0.1cm;}
fieldset.field_checkbox{color:#737373;}
select.field_listbox{font: normal 12px arial;color:#737373;border: solid 1px #e5e5e5;padding: 0cm 0cm 0cm 0.1cm;}
td.field_title{text-align:right;font: normal 12px arial;color:#737373;padding: 0.1cm 0.1cm 0cm 0cm}
td.field_value{font: bold 12px arial;color:black;padding: 0.1cm 0cm 0cm 0cm;text-align:left}
td.form_button {text-align:right;padding: 0cm 0.2cm 0.2cm 0cm}   /*arriba derecha abajo izquierda*/
td.forms_border{padding: 0.2cm 0.2cm 0cm 0.2cm}
form.forms {border-collapse: collapse;margin: 0cm 0cm 0cm 0cm}
div.field_text {padding: 0cm 0cm 0cm 0.1cm;border: solid 1px #e5e5e5;background-color:white}

td.form_link {text-align:center;background-color:#f8f8f8;padding: 0.1cm 0.2cm 0cm 0.2cm;text-align:center;border: 1px solid #e5e5e5;border-bottom:none}
td.form_title {font: bold 11px arial ;color:#787878;padding: 0cm 0.2cm 0cm 0cm;text-align:left;vertical-align:bottom}
a.form_link:link {color: #75864C;text-decoration: none}
a.form_link:visited {color: #75864C;text-decoration: none}
a.form_link:hover {color: #0871A2;text-decoration: none}
a.form_link:active {color: #737373;text-decoration: none}

/************************************************************************************/
/* caja clase gallery*/

table.thumb_gallery {width:98%;border-collapse: collapse;text-align:center; margin: 0cm 0cm 0.2cm 0.2cm}
td.thumb_gallery {vertical-align:Bottom;padding: 0.2cm 0cm 0.2cm 0cm;text-align:center}
td.title_gallery {border: 1px solid #e5e5e5;border-bottom:none;background-color:#f8f8f8;font: bold 14px arial ;color:#787878;padding: 0cm 0cm 0cm 0.2cm;}
img.thumb_gallery {border:solid 6px #e5e5e5;}

table.img_gallery {width:97%;border-collapse: collapse;text-align:center; margin: 0cm 0.2cm 0.2cm 0.2cm}
td.img_gallery {text-align:center;padding: 0.2cm 0.2cm 0.2cm 0.2cm}
td.img_title {font: bold 14px arial ;color:#787878;padding: 0cm 0cm 0cm 0.2cm;}
img.imggal {border:solid 6px #e5e5e5;}

                                                                    /*arriba derecha abajo izquierda*/
/************************************************************************************/
/* caja messages*/

table.msg_alerts {width:100%;border-collapse: collapse;border-bottom: 1px solid #e5e5e5; margin: 0cm 0cm 0.2cm 0cm}
td.msg_alerts {color: red; font: bold 12px arial;vertical-align:top;padding: 0cm 0cm 0cm 0.2cm}  /*arriba derecha abajo izquierda*/

table.msg_position {width:100%;border-collapse: collapse;border-bottom: 1px dotted #e5e5e5; margin: 0cm 0cm 0.2cm 0cm}
td.msg_position {color: black; font: bold 12px arial;vertical-align:top;padding: 0.2cm 0cm 0.2cm 0.2cm}  /*arriba derecha abajo izquierda*/


/*************************************************************************************/
/* Tabla oficinas */

table.oficinas {width:97%;margin: 0.2cm 0.2cm 0cm 0.2cm ;border-collapse: collapse;border:none; background-color:white;}
tr.oficinas {font: normal 12px arial;color:black;text-align:left; padding: 0cm 0cm 0cm 0cm}
td.oficinas {border-bottom: 1px dotted #e5e5e5;padding: 0.2cm 0.2cm 0.2cm 0.2cm}
img.oficinas {margin: 0cm 0cm 0cm 0cm ;float:top}
span.tit_oficina {font: bold 14px arial;color:black;}

/*************************************************************************************/
/* Tabla comment */

table.comment {width:97%;margin: 0cm 0.2cm 0.2cm 0.2cm ;border-collapse: collapse;border:none; background-color:white;}
td.comment {font: normal 12px arial;color:#737373;padding: 0cm 0.2cm 0cm 0.2cm;vertical-align:top}
/*************************************************************************************/
/* Tabla calculos hipoteca */                                   /*arriba derecha abajo izquierda*/

table.calc_div {width:97%;border-collapse: collapse;margin: 0cm 0cm 0cm 0.2cm;border: solid 1px #C6E091}
td.calc_div {border-collapse: collapse;padding: 0cm 0cm 0cm 0.2cm;vertical-align:top;}
td.total_div {text-align:right;font: bold 12px arial;border-collapse: collapse;padding: 0cm 0.2cm 0cm 0cm;vertical-align:top;}

table.calc {width:97%;margin: 0cm 0cm 0cm 0cm ;border-collapse: collapse;border:none; background-color:white;}
td.hcalc {width:100%;background-color:#E4F0CA; text-align:center; color: #787878; font: bold 12px arial}
td.label  {border-bottom: solid 1px #C6E091;font: normal 12px arial;color:#737373;padding: 0cm 0.2cm 0cm 0.2cm;vertical-align:top}
td.tlabel  {border-bottom: solid 1px #C6E091;font: bold 12px arial;color:#737373;padding: 0cm 0.2cm 0cm 0.2cm;vertical-align:top}
td.values {width:30%;border-bottom: solid 1px #C6E091;text-align:right; font: normal 12px arial;color:#737373;padding: 0cm 0.2cm 0cm 0.2cm;vertical-align:bottom}
td.tvalues {width:30%;border-bottom: solid 1px #C6E091;text-align:right; font: bold 12px arial;color:#737373;padding: 0cm 0.2cm 0cm 0.2cm;vertical-align:bottom}

/******************************************************************************/
/* Tabla blocks left right */  

table.bloci {width:93%;border-collapse: collapse; margin: 0.2cm 0cm 0.5cm 0.2cm}
td.hbloci {border-bottom: solid 4px #C6E091;border-left: solid 4px #C6E091;padding: 0cm 0cm 0cm 0.2cm}
tr.hbloci {text-align:left;font: bold 12px arial;color:#75864C;}
tr.bloci {}
td.bloci {}

table.blocd {width:97%;margin: 0.2cm 0.2cm 0cm 0cm ;border-collapse: collapse;border:none; background-color:white;}
tr.hblocd {font: bold 12px arial;color:#75864C;text-align:right; }
td.hblocd {border-bottom: solid 4px #C6E091;border-right: solid 4px #C6E091;padding: 0cm 0.2cm 0cm 0cm}
tr.blocd {}
td.blocd {}
/*******************************************************************************************/
/* Tabla extras */

td.extras_title {width:100px;font: bold 12px arial;color:#737373;padding: 0.1cm 0.2cm 0.1cm 0.3cm;vertical-align:top}
td.extras_txt {font: normal 12px arial;color:#737373;padding: 0.1cm 0.2cm 0.1cm 0.2cm;vertical-align:top}


/******************************************************************************/
/* Tabla Calendar */
table.calendar {width:93%;border-collapse: collapse; margin: 0.2cm 0cm 0.2cm 0.2cm;}
td.calendar {padding: 0cm 0cm 0cm 0cm}
td.calendarHeader{text-align:center;font:bold 16px arial;color:#787878}

table.month {width:93%;margin: 0.2cm 0cm 0.2cm 0cm;border: solid 1px #C6E091;}
td.monthhd {text-align:center;font:bold 16px arial;color:#787878}
td.dayname {text-align:center;}

td.today {text-align:center;border: solid 1px #C6E091;font:bold 11px arial;}
td.day {text-align:center;border: solid 1px #C6E091;font:bold 11px arial;}
td.day3{text-align:center;border: solid 1px #C6E091;background-color:#ADFB8F;font:bold 11px arial;}
td.day2{text-align:center;border: solid 1px #C6E091;background-color:#E5FB8F;font:bold 11px arial;}
td.day1{text-align:center;border: solid 1px #C6E091;background-color:#FBF28F;font:bold 11px arial;}
td.day4{text-align:center;border: solid 1px #C6E091;background-color:#CECDC7;font:bold 11px arial;}

td.bday  {text-align:center;border: solid 1px #C6E091;color:#FD0101;font:bold 11px arial;}
td.bday3 {text-align:center;border: solid 1px #C6E091;background-color:#ADFB8F;color:#FD0101;font:bold 11px arial;}
td.bday2 {text-align:center;border: solid 1px #C6E091;background-color:#E5FB8F;color:#FD0101;font:bold 11px arial;}
td.bday1 {text-align:center;border: solid 1px #C6E091;background-color:#FBF28F;color:#FD0101;font:bold 11px arial;}
td.bday4 {text-align:center;border: solid 1px #C6E091;background-color:#CECDC7;color:#FD0101;font:bold 11px arial;}

td.legend {text-align:right;}
table.legend{border: solid 1px #C6E091;}
td.callabel {text-align:left;padding: 0cm 0.2cm 0cm 0.2cm}

/******************************************/
/* LOGINFORM */
div.loginform {margin: 0.2cm 0.2cm 0.2cm 0.2cm ;width:100%;}
table.login {background-color:#e7fcbd;border-collapse: collapse;border:1px solid #b8df67;margin: 0cm 0.2cm 0cm 0.2cm}
td.login {padding: 0.2cm 0.2cm 0.2cm 0.2cm;font: normal 14px arial;color:#737373}
td.login_button {text-align:right;padding: 0.2cm 0.2cm 0.2cm 0.2cm}
input.logininput {border: 1px solid #b8df67}
input.button {border: 1px solid #b8df67;background-color:#b8df67;color:#737373}
p.titlogin {text-align:left; font: bold 18px arial ;color:#C6E091; margin: 0.2cm 0cm 0cm 0.2cm}
p.txtlogin {text-align:left;margin: 0.2cm 0cm 0cm 0.2cm}








