body {
    background-image: url(../images/bankback.jpg); /*You will specify your image path here by samson*/

    background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}